<h2>Create Meeting Group Proposal</h2>

<%= form_with(
  scope: :meeting_group_proposal,
  url: new_meetings_meeting_group_proposal_path
) do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :location_city %><br />
    <%= f.text_field :location_city %>
  </div>

  <div class="field">
    <%= f.label :location_country_code %><br />
    <%= f.text_field :location_country_code %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
