<h2>Sign up</h2>

<%= form_with(scope: :user, url: registration_path(:user_registration)) do |f| %>
  <div class="mb-3">
    <%= f.label :login, class: 'form-label' %><br />
    <%= f.text_field :login, class: 'form-control', autofocus: true %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %><br />
    <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
  </div>

  <div class="mb-3">
    <%= f.label :first_name, class: 'form-label' %><br />
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :last_name, class: 'form-label' %><br />
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: 'form-label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: 'form-label' %><br />
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "user_access/users/shared/links" %>
