<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(:user)) do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %><br />
    <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: 'form-label' %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-3">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, class: 'form-check-label' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "user_access/users/shared/links" %>
