<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: 'w-25', method: :post }) do |f| %>
  <%= render "user_access/users/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %><br />
    <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "user_access/users/shared/links" %>
